$font: "Lato", Helvetica, Arial, sans-serif; //'tpalm', sans-serif;
$font-secondary: 'Lato', Helvetica, Arial, sans-serif;
$font-weight: 400;
$font-weight-light: 200;

$color-brand: #93c01f;
$color-brand2: #0f5c35;
$grid-gutter-width: 30px;