/***************************************
 * Base Colors
 ***************************************/
$color-black: #252525;
$color-black-transparent: rgba(37, 37, 37, .9);
$color-gray: #CECECE;

/***************************************
 * Primary color
 ***************************************/
//$color-primary: #122d57;
//.header-top { background-color: #fff !important; color: #8c8c8c !important; }
//.header-title { color: #8c8c8c !important; }
//.header-nav .has-children > a:after { color: #ee1c25 !important; }
$color-primary: #25b45b;

/***************************************
 * Help colors
 ***************************************/
$alert-success-bg: #6ED55D;
$alert-warning-bg: #FFCC2A;
$alert-danger-bg: #F56E61;