// TYPOGRAPHY
a {
  color: #02344a;
  transition: color .15s linear;
  &:hover,
  &:focus {
  	color: $color-brand;
  }
}


h1, h2, h3, h4, h5, h6, p,
#mini_nav .title-h2 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial !important;
}
p {
  color: #000 !important;
  a {
  	color: $color-brand2 !important;
  	
  	&:hover,
  	&:focus {
    	color: $color-brand !important;
  	}
  }
}

